@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Forms

<div class="@CssClass">
    <label class="text-sm font-medium text-gray-900">@Label</label>
    <div class="mt-1">
        @ChildContent
    </div>
    <ValidationMessage For="@For" />
</div>

@code {
    [Parameter, EditorRequired]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter, EditorRequired]
    public Expression<Func<object?>> For { get; set; } = default!;

    [Parameter]
    public string CssClass { get; set; } = "md:col-span-3"; 
}