<section class="relative overflow-hidden bg-slate-50 py-10 sm:py-10" style="min-height: 80vh">
    @if (SplashImageUrl != null)
    {
        <img alt="" loading="lazy" width="1558" height="946" decoding="async" data-nimg="1" class="absolute left-1/2 top-0 max-w-none -translate-y-1/4 translate-x-[-30%]" style="color:transparent" src=@(SplashImageUrl)>
    }
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">

        <div class="mx-auto  lg:mx-0 pb-4">
            <h2 class="font-display text-3xl font-bold tracking-tight text-slate-900 sm:text-4xl max-w-[80%] lg:max-w-[70%]">@Title</h2>
            @if(SubTitle == null)
            {
                <p class="mt-4 text-lg tracking-tight text-slate-700">@SubTitle</p>
            }
        </div>

        @ChildContent

    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string? SubTitle { get; set; }

    [Parameter]
    public string? SplashImageUrl { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
